altgraph==0.17.5
anyio==4.15.1
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
defusedxml==0.7.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
iniconfig==2.3.0
jaraco-classes==3.4.0
jaraco-context==6.1.2
jaraco-functools==4.6.0
keyring==25.7.0
more-itertools==11.1.0
olefile==0.47
packaging==26.3
pefile==2024.8.26
pillow==12.3.0
pluggy==1.6.0
pycryptodome==3.23.0
pygments==2.21.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
pyside6==6.11.2
pyside6-addons==6.11.2
pyside6-essentials==6.11.2
pytest==9.1.1
pytest-qt==4.5.0
pyustc==1.2.1
pywin32-ctypes==0.2.3
requests==2.34.2
ruff==0.16.9
setuptools==84.0.0
shiboken6==6.11.2
soupsieve==2.10
typing-extensions==4.16.0
ua-generator==2.1.6
urllib3==2.8.0
